@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat');

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}


.navbar {
    background-color: #33C6B7;
}

.fab {
    color: white;
    font-size: 1.2rem;
    font-size: 4rem;
}

.heading {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/photo.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}



.form {
    font-family: 'Montserrat', sans-serif ;
    background-color: #F9FAFC;
    line-height: 2;
}

.foot {

    background-color: #33C6B7;
    margin: 0 auto;
}

.foot .fab {
    padding: 5%;
}

.btn {
    background-color: #33C6B7 ;
    padding: .5rem 3rem;
    color: white;
    border-radius: 2rem;

}



