@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat');

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}


.navbar {
    background-color: #33C6B7;
}

.brand{
    color: white;

    font-size: 4rem;
}

.heading {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/photo.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}



.form {
    font-family: 'Montserrat', sans-serif ;
    background-color: #F9FAFC;

}

.foot {
background-color: #33C6B7;
color:white;
font-size: 1rem;
    }

.foot .fab {
    padding: 5% 7%;
}

.btn {
    background-color: #33C6B7 ;
    padding: 1% 5%;
    color: white;
    border-radius: 2rem;

}
.btn:hover{
  background-color: #32dbc6;
  color: white;
}
